/* Container and main page/component */
.container {
    width: 90%;
    margin: 2rem auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 3rem;
    box-sizing: border-box;
    color: var(--primary-color);
}

.above,
.main {
    color: var(--primary-color);
}

.outlet {
    min-height: 16rem;
    animation: fadeIn 1s ease-out;
}

.above {
    width: 100%;
    padding: 1rem 1rem 0 0;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.above>.back {
    cursor: pointer;
    color: var(--unenable-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}



.bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1.2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* Question 1 ----------------------------------------------------------------------------------------------------------------- */

form>div {
    border: 1px solid rgb(226, 223, 223);
    width: 90%;
    padding: 0.6rem;
    margin-bottom: 0.6rem;
    box-sizing: border-box;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selected {
    border: 2px solid var(--primary-color);
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: fit-content;
}

label>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    height: fit-content;
    width: fit-content;
    border-radius: 99px;
    border: 1px solid var(--primary-color);
}

/* Question 2----------------------------------------------------------------------------------------------- */

.languages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: tart;
    width: 100%;
    height: 12rem;
    overflow-y: scroll;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    border-radius: 5px;
    padding-top: 1rem;
    padding-left: 1rem;
}

.language {
    margin-bottom: 0.3rem;
    padding: 0.2rem;
}

.language input {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    accent-color: var(--primary-color);
}

.search {
    width: 95%;
}

.search input {
    width: 100%;
    padding: 0.4rem;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.selectedLan {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    padding: 0.4rem 1rem;
    border-radius: 5px;
}

.languages::-webkit-scrollbar {
    width: 4px;
}

.languages {
    scrollbar-width: thin;
    scrollbar-color: var(--background-2) var(--primary-color);
}

.languages::-webkit-scrollbar-track {
    background: var(--background-2);
}

.languages::-webkit-scrollbar-thumb {
    background-color: var(--background-2);
    border-radius: 6px;
    border: 3px solid var(--primary-color);
}

/* Question 3-------------------------------------------------------------------------------- */

.textarea {
    width: 90%;
    height: 10rem;
    border-radius: 5px;
    padding: 1rem;
    border: 2px solid var(--primary-color);
    outline: none;
}

.limited {
    border: 2px solid red;
    width: 90%;
    height: 10rem;
    border-radius: 5px;
    outline: none;
    padding: 1rem;
}

.hasword {
    text-align: center;
    color: var(--primary-color);
    font-size: 14px;
    margin-top: 0.4rem;
}

.noword {
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: 0.4rem;
}