.content {
    width: 90%;
    margin: 2rem auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding-left: 25%;
    padding-right: 25%;
    box-sizing: border-box;
}

.thanks {
    text-align: center;
    color: #3d3d3d;

}

.plea {
    width: 100%;
    border-bottom: 1px solid #3d3d3d;
    line-height: 0.1em;
    font-style: italic;
    margin: 1rem 0;

}

.plea span {
    background: var(--text-color);
    padding: 0.4rem;
}

.thanks>div {
    padding: 0 0.2rem 0 0.2rem;
    font-size: 14px;
}

.information {
    color: var(--primary-color);
    background-color: var(--background-2);
    max-width: 100vw;
    padding: 0 1rem;
    margin: 2rem 0;
    font-size: 15px;
    border-radius: 5px;

}

.information>div {
    margin-bottom: 2.5rem;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 2rem auto;
}

.err {
    color: red;
    font-style: italic;
    font-size: 14px;
}